

script(src="JS/jquery-3.4.1.min.js")
script(src="JS/jquery-2.1.1.js")
script(src="JS/jquery.mobile.custom.min.js")
script(src="JS/bootstrap3.min.js")
script(src="JS/main.js")
script(src="JS/jquery.nicescroll.min.js")
script initComparisons();
script(src="JS/wow.min.js")
script new WOW().init();
script(src="http://localhost:35729/livereload.js")
